/* *********************MAIN********************* */

main {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin-top: 7%;
    flex-wrap: wrap-reverse;
}

main img {
    align-self: start;
}

.formulario {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 50%;
    gap: 5px;
}

textarea {
    resize: none;
    max-width: 100%;
    max-height: 50px;
    border: 2px solid rgba(0, 0, 0, 0.375);
    border-radius: 0.3rem;
}

textarea::placeholder {
    font-size: 1rem;
} 

.sobrevoce {
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.input {
    border-radius: 0.3rem;
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 0.375);
}

.button {
    align-self: flex-end;
    background-color: #1e549f;
    border-radius: 0.3rem;
    width: 40%;
    height: 40px;
    border: none;
    cursor: pointer;
    transition: all 0.4s;
    margin-right: 2px;
    
    a {
        text-decoration: none;
        color: white;
    }
}

button:hover {
    transform: scale(1.05);
}