/* *********************MAIN********************* */

main {
    display: flex;
}

.imagem_home {
    flex-grow: 1;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
    .ranger2022 {
        max-width: 1000px;
        width: 70%;
        height: auto;
    }
}
