/* *********************MAIN********************* */

main {
    display: flex;
    flex-direction: column;
    background-color: red;
    align-items: center;
}

.video {
    display: flex;
    justify-content: center;
    background-color: blue;
    width: 100%; 
}

.tabela {
    display: flex;
    gap: 1.5rem;
    margin-top: 20px;
}

.elemento_tabela {
    display: flex;
    flex-direction: column;
}
