* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik",serif;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

/* *********************HEADER********************* */

.header {
    display: flex;
    justify-content: start;

    img {
        left: 0;
        max-width: 170px;
        width: 10%;
    }

    .links {
        list-style: none;
        display: flex;
        gap: 1rem;
        align-items: center;
        transform: translate(150%);
        font-size: 1.20rem;
        
        a {
            text-decoration: none;
            color: #1351d8;
        }
    }
}

/* *********************MAIN********************* */

main {
    flex-grow: 1;
}

/* *********************FOOTER********************* */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1b357e;
    color: white;
    padding: 15px 20px;

}

footer div {
    display: flex;
    gap: 8px;
    align-items: center;
}

footer div img {
    width: 35px;
    height: 35px;
}

.logomarca2 {
    margin-right: 20px;
}
