* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik",serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

/* *********************HEADER********************* */

.header {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;

    img {
        left: 0;
        max-width: 170px;
        width: 40%;
        height: auto;
    }

    .links {
        list-style: none;
        display: flex;
        margin: 0 auto;
        gap: 1rem;
        align-items: center;
        font-size: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        
        a {
            text-decoration: none;
            color: #1351d8;
        }
    }
}

/* *********************MAIN********************* */

main {
    flex-grow: 1;
}

/* *********************FOOTER********************* */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b357e;
    color: white;
    padding: 10px 10px;

    div{
        display: flex;
        align-items: center;
        gap: 0.5rem;

        ul {
            list-style: none;
            display: flex;
            gap: 0.5rem;
            align-items: center;

            img {
                width: 2rem;
            }
        }
    }

}

.logomarca2 {
    max-width: 170px;
    width: 80%;
}
