* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik",serif;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

/* *********************HEADER********************* */

.header {
    display: flex;
    padding: 10px;

    img {
        left: 0;
        max-width: 170px;
        width: 10%;
    }

    .links {
        list-style: none;
        display: flex;
        margin: 0 auto;
        gap: 1rem;
        align-items: center;
        font-size: 1.2rem;
        
        a {
            text-decoration: none;
            color: #1351d8;
        }
    }
}

/* *********************MAIN********************* */

main {
    flex-grow: 1;
}

/* *********************FOOTER********************* */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b357e;
    color: white;
    padding: 10px 10px;

    div {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        
        a {
            background-color: red;
        }

        img {
            padding: 0;
            max-width: 200px;
            max-height: 200px;
            width: 70%;
            height: 70%;
        }
    }
}

.logomarca2 {
    max-width: 170px;
    width: 80%;
}
